body {
  width: 600px;
  height: 600px;
  max-width: 90%;
  max-height: 90%;
}

#outside {
  padding: 0.5em;
  font-size: 18px;
}

textarea {
  width: 100%;
  font-family: Arial;
  font-size: 21px;
}

#inside textarea {
  margin: 0px 0px 7px 0px;
}

button {
  font-size: 18px;
}

li textarea {
  border: none;
  font-size: 19px;
  width: calc(100% - 100px);
  height: 30px;
}

li input {
  float:left;
}

li {
  float:left;
  min-width: 100%;
}

div {
  padding: 0px 0px 7px 0px;
}